Source: lightdm-remote-session-x2go
Section: misc
Priority: optional
Maintainer: Artica Project <devs@lists.arctica-project.org>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends:
 debhelper (>= 9),
 dh-apparmor,
 cdbs,
 dh-autoreconf,
Standards-Version: 4.1.1
Homepage: http://github.com/ArcticaProject/lightdm-remote-session-x2go
Vcs-Git: https://github.com/ArcticaProject/lightdm-remote-session-x2go/
Vcs-Browser: https://github.com/ArcticaProject/lightdm-remote-session-x2go/

Package: lightdm-remote-session-x2go
Architecture: any
Depends: 
 ${shlibs:Depends},
 ${misc:Depends},
 socat,
 zenity,
 pyhoca-cli (>= 0.2.1.0-0~),
 libpam-x2go,
 lightdm (>= 1.3.3-0~),
Suggests:
 apparmor,
Description: Log into X2Go sessions via LightDM
 The configuration files needed and scripts required to login
 to a full screen X2Go session using LightDM and PyHoca / Python X2Go
 or X2Go Client.
